body {
  font-size: 18pt;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/background-img.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
}

h1, h2 {
  font-family: "Stardos Stencil", cursive;
  text-transform: capitalize;
}
a, h4 {
  color: #d9b9a7 !important;
}

h5 {
  color: black;
}

.jumbotron {
  background: none !important;
  padding-bottom: 0 !important;
}

.jumbotron p {
  font-size: 18pt;
  font-weight: bold;
}

button {
  background-color: #d9b9a7!important;
  font-weight: 900 !important;
  font-size: 16pt !important;
  text-transform: capitalize;
}

button:hover {
  border: #d9b9a7 solid 1px!important;
  color: #fff!important;
  background-color: transparent!important;
}

input {
  text-transform: capitalize;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

#separator {
  border: 0;
  height: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

li {
  color: #d9b9a7 !important;
}

.card {
  background-color: #736868 !important;
}

.card p {
  color: white;
  font-size: 14pt;
}

.card-footer {
  color: #d9b9a7 !important;
  font-size: 12pt;
  line-height: 120%;
}

#nasa-paragraph {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
 
}

.wrap{
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  background-color: #d9b9a7 !important;
}

.back-to-top i {
  color: black
}
/*MEDIA QUERIES************************/



@media screen and (min-width: 769px) and (max-width: 980px) {
  .jumbotron .container .row form button {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media screen and (min-width: 481px) and (max-width: 640px) {

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .jumbotron {
      text-align: center;
    }
    .jumbotron .container .row form button {
      margin-top: 1rem;
    }
    .content {
      text-align: center;
    }
    #extra-info{
      text-align: left;
    }
    .footer {
      text-align: center;
    }
    .back-to-top {
      display: none; 
    }
}